<!DOCTYPE html>
<html data-context="options-page">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="css/options.css">
    <link rel="stylesheet" href="lib/select2/select2.min.css">
    <title class="i18n" data-msg="google_calendar_extension_name">Options</title>
  </head>
  <body>
    <header>
      <h1 class="i18n" data-msg="google_calendar_extension_name">Google Calendar</h1>
    </header>

    <article id="selection-list">
      <h2>Calendars Group Selection</h2>

      <label class="title-warp" for="setGroupTitle">
        <input type="text" name="setGroupTitle" value="" placeholder="Title" />
      </label>

      <select class="selection" name="select-boxes" multiple="multiple"></select>

      <div class="button-wrap">
        <button class="btn" type="button" name="button">Create</button>
      </div>
    </article>


    <article id="group-list">
      <h2>Calendars Group Selection</h2>
      <p class="error-msg">There are no set group</p>
      <section class="list"></section>
    </article>



    <article>
      <h2>Set Group</h2>
      <section id="calendar-list">
      </section>
    </article>


    <script src="lib/jquery.min.js"></script>
    <script src="lib/underscore/underscore.js"></script>
    <script src="lib/select2/select2.min.js"></script>




    <script src="lib/moment+langs.min.js"></script>
    <script src="utils.js"></script>
    <script src="js/options.js"></script>
  </body>
</html>
