<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <!-- Css : Fonts -->
  <link type="text/css" href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- Css : Library -->
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../lib/select2/select2.min.css">
  <link rel="stylesheet" type="text/css" href="../lib/dadjs/jquery.dad.css">

  <!-- Css : Custom -->
  <link rel="stylesheet" type="text/css" href="../css/popup.css">
</head>
<body>

  <!-- Main Header -->
  <header class="main-header">
    <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
      <div>
        <a class="navbar-brand" data-href="calendar_ui_url" target="_blank">
          <span id="logo_text">Calendar Sets</span>
        </a>
      </div>

      <!-- Nav List : Icon function -->
      <ul id="action-bar" class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="btn-add-group">+</span>
          </a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="../icons/ic_settings_white_24dp.png" id="show_options" class="i18n">
          </a>
        </li>
        -->
      </ul>
    </nav><!-- Nav List : End -->
  </header><!-- Main Header : End -->

  <!-- Display Auth -->
  <section id="error-auth" class="main-content container-fluid">
    <article>
      <p class="i18n" id="authorization_explanation"></p>
      <div class="btn-wrap text-xs-center">
        <button class="i18n btn btn-primary" id="authorization_required"></button>
      </div>
      <div class="link-trouble text-xs-center">
        <a class="i18n" id="problems" target="_blank" href="https://github.com/FirstPersonSF/chrome-calendar-groups/issues">Problems</a>
      </div>
    </article>
  </section><!-- Display Auth : End -->

  <!-- Main Content -->
  <section id="content-body" class="main-content container-fluid">
    <!-- Display : Lists -->
    <article id="group-list">
      <h2>My Groups
        <span class="pull-xs-right btn-order-list">Edit</span>
      </h2>
      <hr>
      <p class="error-msg text-xs-center">There are no groups</p>
      <section class="lists"></section>
    </article>

    <!-- Addon Lists : Start here - Add "dropdown" class global animation -->
    <article id="selection-list" class="dropdown">
      <h2><span class="main-title">Add Groups</span> <span class="btn-close pull-xs-right fa fa-times"></span></h2>
      <hr>
      <form>
        <fieldset class="form-group">
          <input type="text" class="form-control group-name" placeholder="Group Name">
        </fieldset>
        <fieldset class="form-group">
          <select class="select-calendar" name="select-calendar" multiple="multiple"></select>
        </fieldset>
        <button type="button" name="button" class="btn btn-primary">Create</button>
      </form>
    </article>
  </section><!-- Main Content : End -->

  <footer class="main-footer">
    <!-- Alert -->
    <div class="alert alert-danger" role="alert">
      <span class="btn-close pull-xs-right fa fa-times"></span>
      <div class="msg"></div>
    </div><!-- Alert : End -->
  </footer>

  <!-- Javascript : Library -->
  <script src="../lib/jquery.min.js"></script>
  <script src="../lib/bootstrap/tether.min.js"></script>
  <script src="../lib/bootstrap/bootstrap.min.js"></script>
  <script src="../lib/underscore/underscore-min.js"></script>
  <script src="../lib/select2/select2.min.js"></script>
  <script src="../lib/dadjs/jquery.dad.js"></script>

  <!-- Javascript : Custom  -->
  <script src="../scripts/localStorage.js"></script>
  <script src="../scripts/constants.js"></script>
  <script src="../scripts/popup.js"></script>
</body>
</html>
