html{width:300px; height:600px;}
#logo_text{font-size:16px;}
h2{font-size:18px;}
p{font-size:14px;}
#action-bar img{width:18px; height:18px;}

#error-auth, #content-body, #group-list{margin:20px 0 0 0;}
.select-boxes{display:block; width:100%;}

.link-trouble{margin:20px 0 0 0; font-size:12px;}

#selection-list input, #selection-list button{font-size:14px;}


@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.spinning {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
